html,body{
	padding: 0px;
	margin: 0px;
	font-size: 16px;
}
ul,li{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
a{
	text-decoration: none;
}

.marginL27{
	margin-left: 27px;
}
.header{
	background: url(../images/banner.png)center center no-repeat;
	height: 334px;
    clear: both;
    overflow: hidden;
}
.header .banner_ear{
	background-color: rgba(0,0,0,0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
}
.header .timebar{
	width: 1200px;
	margin: 0px auto;
	height: 50px;
	line-height: 50px;
}
.header .timebar{
}
.header .timebar>div:first-child{
	float: left;
	color: #fff;
}
.header .timebar>div:first-child+div{
	float: right;
	background-color: #fff;
	border-radius: 5px;
	height: 36px;
	margin-top: 7px;
	padding-left:3px;
}

.header .timebar>div:first-child+div input{
	padding: 0px 5px;
	margin: 0px;
	border:0px;
	outline: none;
	display: block;
	height: 36px;
	float: left;
}

.header .timebar>div:first-child+div span{
	cursor: pointer;
	height: 36px;
	width: 36px;
	display: block;
	float: left;
	background-color: red;
	border-radius:0px 5px 5px 0px;
	background:url(../images/search.png) 5px 5px no-repeat;
	background-size: 70% 70%;
	background-color: #4792d5;
}
/*.header .timebar>div:first-child+div span img{
	width: 80%;
	height: 80%;
	text-align: center;
	margin: 0px auto;
}*/
/*navbar*/
.navbar{
	height: 56px;
	background-color: #5292c6;
}
.navbar .nav{
	width: 1200px;
	margin: 0px auto;
}
.navbar .nav ul:after{
clear:both;content:'';display:block;width:0;height:0;visibility:hidden;
}
.navbar .nav li{
float: left;
height: 56px;
line-height: 56px;
padding: 0px 40px;
cursor: pointer;
}

.navbar .nav li:hover{
	background-color: #ff8a00;
}
.navbar .nav li a{
	color: #fff;
	font-weight: bold;
}
/*main*/
.main{
	width: 1200px;
	margin:0px auto;
}
.main .bigtitle{
	width: 700px;
	margin:0px auto;
	color: #005bac;
	font-size: 30px;
	padding: 10px 0px;
	height: 108px;
	font-weight: bold;
	text-align: center;
}
.mould1,.mould2,.mould3{
  overflow: hidden; 
}
/*slide start*/

.slideTxtBox{ 
	float: left;
	width: 610px;
	height: 400px;
	border:1px solid #ddd; 
	text-align:left;  
	position: relative;
}
.slideTxtBox .hd{ 
	bottom: 0px;
	width: 610px;
	height: 50px; 
	line-height: 50px;
	position:absolute; 
	z-index: 10;
	background-color: rgba(0,0,0,0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
}
.slideTxtBox .hd .ggtext{
	width: 400px;
	height: 50px; 
	line-height: 50px;
	float: left;
	color: #fff;
	text-indent: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.slideTxtBox .hd ul{ 
    width: 150px;
    float: right;
}
.slideTxtBox .hd ul:after{
clear:both;content:'';display:block;width:0;height:0;visibility:hidden;
}
.slideTxtBox .hd ul li{ 
	float:left; 
	width:  16px;
	height: 16px;
	cursor:pointer; 
	background:#fff; 
	border-radius: 8px; 
	margin: 17px 6px;
}
.slideTxtBox .hd ul li.on{  
	background:red; 
}
.slideTxtBox .bd ul{ 
  
	zoom:1;  
}
.slideTxtBox .bd li{ 
	height:24px; 
	line-height:24px;   
}
.slideTxtBox .bd li img{ 
	width: 610px;
	height: 400px;
}
.slideTxtBox .bd li .date{ 
	float:right; 
	color:#999; 
	 }

/*slide end*/
.article{
	float: left;
	width: 570px; 
	margin-left: 17px;
}
.articletitle li{
	position: relative;
	width: 140px;
	text-align: center;
	height: 42px;
	line-height: 42px;
	float: left;
}

.articletitle li a{
	color: #005bac;
	font-weight: bold;
}
.article .articletitle{
	width: 570px;
	height: 42px;
	background: url(../images/sixiangtiao.png)no-repeat;
}
.article .articletitle ul{
	border-bottom:1px solid #777777; 
}
.article .articletitle ul:after{
	clear:both;content:'';display:block;width:0;height:0;visibility:hidden;
}
.article .articletitle li.line{
	padding: 0px;
	width: 2px;
	height: 16px;
	margin-top: 12px;
	background-color: #adacac;
}
.article .articletitle li.on:after{
  display: block;
  width: 140px;
  height: 2px;
  background-color:  #005bac;
  position: absolute;
  bottom: 0;
  content: " ";
 
}
.article .articlebody ul{
	margin-top: 10px;
}
.article .articlebody li{
	height: 60px;
	width: 570px;
}

.article .articlebody li:hover a span:first-child+span{
	color: #005bac;
}
.article .articlebody li a span{
	display: block;
	height: 60px;
	line-height: 60px;
}
.article .articlebody li a{
	color: #595959;
}
.article .articlebody li a span:first-child{
	width: 20px;
	height: 60px;
	float: left;
	background:url(../images/arrow.png) left center no-repeat;
}
.article .articlebody li a span:first-child+span{
	width: 420px;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
	white-space: nowrap;
}
.article .articlebody li a span:first-child+span+span{
	width: 120px;
	float: right;
	text-align: right;
}
/**/
.article2{
	margin-top: 20px; 
	float: left;
	width: 585px; 
}
.articletitle2 li{
	position: relative;
	width: 140px;
	text-align: center;
	height: 42px;
	line-height: 42px;
	float: left;
}
.articletitle2 li.articlesmalltitle{
	font-size:  26px;
	color: #005bac;
}
.articletitle2 li.more{
	text-align:right;
}
.articletitle2 li.more a{
	color: #777777;
	font-weight: normal;
}
.articletitle2 li a{
	color: #005bac;
	font-weight: bold;
}
.article2 .articletitle2{
	width: 585px;
	height: 42px;
	background: url(../images/sixiangtiao2.png) no-repeat;
}
.article2 .articletitle2 ul{
	border-bottom:1px solid #777777; 
}
.article2 .articletitle2 ul:after{
	clear:both;content:'';display:block;width:0;height:0;visibility:hidden;
}
.article2 .articletitle2 li.line{
	padding: 0px;
	width: 2px;
	height: 16px;
	margin-top: 12px;
	background-color: #adacac;
}
.article2 .articletitle2 li.on:after{
  display: block;
  width: 140px;
  height: 2px;
  background-color:  #005bac;
  position: absolute;
  bottom: 0;
  content: " ";
 
}
.article2 .articlebody2 ul{
	margin-top: 10px;
}
.article2 .articlebody2 li{
	height: 50px;
	width: 585px;
}

.article2 .articlebody2 li:hover a span:first-child+span{
	color: #005bac;
}
.article2 .articlebody2 li a span{
	display: block;
	height: 50px;
	line-height: 50px;
}
.article2 .articlebody2 li a{
	color: #595959;
}
.article2 .articlebody2 li a span:first-child{
	width: 20px;
	height: 50px;
	float: left;
	background:url(../images/arrow.png) left center no-repeat;
}
.article2 .articlebody2 li a span:first-child+span{
	width: 420px;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
	white-space: nowrap;
}
.article2 .articlebody2 li a span:first-child+span+span{
	width: 120px;
	float: right;
	text-align: right;
}
.mould3{
	 
}
.mould3>div{
	margin-left: 10px;
	float: left;
	height: 80px;
	background-color: #5292c6;
}

.mould3>div:first-child{
	width: 327px;
	margin-left: 0px;
	padding-left:150px;
	background:#5292c6  url(../images/jbzq.png) 20px 13px no-repeat;
}
.mould3>div:first-child ul{
	margin-top: 8px;
}
.mould3>div:first-child li{
	height: 21px;
	text-indent: 14px;
	background:url(../images/arrow2.png) left 5px no-repeat;
}
.mould3>div:first-child li a{
	color: #fff;
}
.mould3>div:first-child li:hover a{
	color: #005bac;
}
.mould3>div:first-child+div{
	width: 140px;
	text-indent: 65px;
	line-height: 80px;
	background:#5292c6 url(../images/jbzn.png) 20px 22px no-repeat;
}
.mould3>div:first-child+div a{
	color: #fff;
}
.mould3>div:first-child+div a:hover{
	color: #005bac;
}
.mould3>div:first-child+div+div{
		width: 140px;
	text-indent: 65px;
	line-height: 80px;
	background:#5292c6 url(../images/jbcx.png) 20px 22px no-repeat;
}
.mould3>div:first-child+div+div a:hover{
	color: #005bac;
}
.mould3>div:first-child+div+div a{
	color: #fff;
}
.mould3>div:first-child+div+div+div{
	width: 412px;
	text-indent: 80px;
	background:#5292c6 url(../images/phone.png) 15px 19px no-repeat;
}

.mould3>div:first-child+div+div+div ul{
 margin-top: 8px;
}

.mould3>div:first-child+div+div+div ul li,.mould3>div:first-child+div+div+div ul li a{
	color: #fff;
}
.ztzl{
 width:1200px;
 height: 150px;
 background-color: #f4f4f4;
}
.ztzltitle{
	text-align: center;
	color: #fff;
 float: left;
 width: 40px;
 line-height: 31px;
 height:130px;
 background-color: #5292c6;
 margin:10px;
}
	.ztztbody{ width:1100px;   position:relative;   float: left; 
	margin:10px; }
		.ztztbody .hd{  position:relative; }
 
		.ztztbody .hd .prev{right:-30px; 
			background:url(../images/lrimg.png) center center no-repeat;}
		.ztztbody .hd .next{ left:-21px;
			background:url(../images/rlimg.png)center center no-repeat;
			} 
 .ztztbody .hd .prev,.ztztbody .hd .next{
 	 display:block;  position:absolute; z-index:99;width:30px;height:60px;top:45px;font-size:30px;text-align: center;cursor: pointer;
 }
		.ztztbody .bd{overflow: hidden; }
		.ztztbody .bd ul{ overflow:hidden; zoom:1; }
		.ztztbody .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
		.ztztbody .bd ul li  { text-align:center; }
		.ztztbody .bd ul li   img{ width:260px; height:130px; display:block;    }
		.ztztbody .bd ul li  a:hover img{ border-color:#999;  }
		.ztztbody .bd ul li .title{ line-height:24px;   }
/*清风网 图片专区*/
.qfwimg{
	margin: 30px auto;
	height: 480px;
	background:url(../images/qfwimg.png)center center no-repeat;
}
.qfwbox{
	width: 1200px;
	margin:0px auto;
	height: 480px;
}
.qfwimgtitle{
	height: 70px;
	line-height: 70px;
}
.qfwimgtitle span:first-child{
	color: #5292c6;
	font-size: 24px;	
}
.qfwimgtitle span:first-child+span{
	color: #777777;
	font-size: 16px;
	margin-left: 15px;	
}
.qfwimgtitle span:first-child+span a{
	color: #777777;
	cursor: pointer;
}
.qfwimgbody{
height: 368px;
    overflow: hidden;
}

.qfwimgbody li{
	float: left;
	position: relative; 
	height: 179px;
     width: 293px;
     overflow: hidden;
}
.qfwimgbody li.small{
	margin-left: 10px;
	margin-bottom: 10px;
}
.qfwimgbody li.small div{
	height: 80px;
	padding: 4px;
     width: 285px;
	position: absolute;
   z-index: 21;
   bottom: -43px;
   background-color: rgba(0,0,0,0.7);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
}
.qfwimgbody li.small div span{
	color: #fff;
	display: block;
 text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
padding: 10px;

}
.qfwimgbody li.small div a{
		padding: 2px 8px;
	color: #fff;
	border:1px dashed #fff;
	float: right;
	font-size: 12px;
}

.qfwimgbody li.big{
  height: 363px;
  width: 590px;
}
.qfwimgbody li.big img{
  position: absolute;
  z-index: 20;
  height: 363px;
    width: 590px;
}
.qfwimgbody li.big div span{
	color: #fff;
	line-height: 30px;
	display: block;
	padding:0px 10px;
}
.qfwimgbody li.big div a{ 
	padding: 10px 15px;
	color: #fff;
	border:1px dashed #fff;
	float: right;

}
.qfwimgbody li.big div{
	bottom: -93px;
	padding:10px 20px;
  height: 120px;
  width: 550px;
  position: absolute;
  z-index: 21;
  background-color: rgba(0,0,0,0.7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
}
/*图片展示*/
.imgbar{
	width: 1200px;
	margin:0px auto;
}
.imgbar .imgbartitle{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-indent: 40px;
	background-color: #5292c6;
	letter-spacing: 5px;
}

.imgbar .imgbartitle a{
	color: #fff;
}
/**/
.ztzl2{
 width:1200px;
 height: 232px;
 overflow: hidden;
 background-color: #f4f4f4;
}
.ztzltitle2{
	text-align: center;
	color: #fff;
 float: left;
 width: 40px;
 line-height: 31px;
 height:130px; 
}
	.ztztbody2{ 
		margin-top: 20px;
		width:1200px;   
		position:relative;   float: left; 
  }
		.ztztbody2 .hd{  position:relative; }
 
		.ztztbody2 .hd .prev{right:10px; 
			background:url(../images/lrimg.png) center center no-repeat;}
		.ztztbody2 .hd .next{ left:10px;
			background:url(../images/rlimg.png)center center no-repeat;
			} 
 .ztztbody2 .hd .prev,.ztztbody2 .hd .next{
 	 display:block;  position:absolute; z-index:99;width:30px;height:60px;top:80px;font-size:30px;text-align: center;cursor: pointer;
 }
		.ztztbody2 .bd{overflow: hidden; }
		.ztztbody2 .bd ul{ overflow:hidden; zoom:1; }
		.ztztbody2 .bd ul li{  float:left; _display:inline; overflow:hidden; text-align:center; 
		position: relative; }
		.ztztbody2 .bd ul li:first-child{
			margin-left: 0px;
		}
		.ztztbody2 .bd ul li  { text-align:center;margin-left: 20px;
		height: 213px;width:285px; }
		.ztztbody2 .bd ul li   img{ 
			width:285px; height:213px; display:block;    }
		.ztztbody2 .bd ul li  a:hover img{ border-color:#999;  }
		.ztztbody2 .bd ul li .title{ line-height:24px;   }

.ztztbody2 .bd li img{
	position: absolute;
	z-index: 30;
}
.ztztbody2 .bd li div{
	height: 90px;
	width:285px;
	position: absolute;
	z-index: 31;
	background-color: rgba(0,0,0,0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
	bottom: -48px;
	color: #fff;
}
.ztztbody2 .bd li div span{ 
	display: block;
	padding: 10px 10px;
	text-align: left;
    text-indent: 5px;
    text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

 }
.ztztbody2 .bd li div a{
	padding: 5px 10px;
	margin-right: 10px;
	display: block;
	float: right;
	color: #fff;
	border:1px dashed #fff;
}
.linkareabar{
	margin-top:50px ; 
	background-color: #f7f9fa;
}
.linkarea{
	width: 1200px;
	height: 320px;
	margin:0px auto;
}
.linkarea div:first-child{
	padding-top: 10px;
	height: 55px;
	line-height: 55px;
	font-size: 22px;
	color: #5292c6;
	text-indent: 20px;
	font-weight: bold;
}
.linkarea div:first-child+div{
	overflow: hidden;
	padding:0px 90px;
	height: 216px;
}
.linkarea div:first-child+div dd{
	float: left;
}
.linkarea div:first-child+div dd.line{
	width: 2px;
	height:120px;
	margin:0px 35px; 
	background-color: #777;
}
.linkarea div:first-child+div dd li{
	height: 50px;
	width: 180px;
}
.linkarea div:first-child+div dd li a{
	color:#606060;
}
.linkarea div:first-child+div  dd:first-child+dd+dd ul{width: 360px;}
.linkarea div:first-child+div  dd:first-child+dd+dd li{
	float: left;
}
.linkareabar .copyright{
	height: 150px;
	padding:20px;
	background-color: #5292c6;
	text-align: center;
	color: #fff;
	line-height: 30px;
}